body{
 
    padding: 0;
    margin: 0;
}
 @font-face {
        font-family: "MonumentExtended";
        src: url(../fonts/MonumentExtended-Regular.otf);
            
    }
    @font-face {
        font-family: "Monument-Extended";
        src: url(../fonts/MonumentExtended-Ultrabold.otf);
            
    }
        /*HEADER*/
header{   
    position: relative;
    height: 50px;
}
nav{
    text-align: center;
    margin-top: 32px;
}
.nav_item{
    letter-spacing: .1rem;
    font-size: 12.91px;
    color: #000000;
    text-decoration: none;
    margin-right: 29px;
    font-family: "MonumentExtended";
}
#bold {
    font-weight: 800;
    font-family: "Monument-Extended";
}
.Search_Magn{
    position: absolute;
    bottom: 28px;
    right: 192px;
    width: 20px;
    height: 21.90px;
    background: url(../icons/search-normal.png);
    z-index: 1;
}
        /*Первая секция*/
input {      
    position: absolute;
    top: 2px;
    right: 0;
    border: none;
    outline: none;
  }
  .search::placeholder {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000000;
    letter-spacing: .1rem;
    font-size: 13.91px;
    font-family: "MonumentExtended";
  }
  input[type="input"] {
    position: absolute;
    width: 90px;
    top: 2px;
    right: 90px;
    color: #000000;
    font-family: "MonumentExtended";
 }
 .Nike_First_Section{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 725px;
    background: linear-gradient(209deg, #DE343D 0%, #FFB800 100%);
}
.Nike_Sneackers{
    position: absolute;
    margin-left: 330px;
    margin-top: 13.50px;
    width: 667px;
    height: 637px;
    background: url(../icons/Sneakers.png) no-repeat; 
    background-size: contain
}
.subtitle{
    position: absolute;
    margin-left: -50px;
    white-space: nowrap;
    top: 165px;
    top: 130px;
    color: rgba(255, 255, 255, 0.14);
    font-size: 278.50px;
    font-family: "MonumentExtended";
    letter-spacing: -19px;
}
.nike_btn {
    position: absolute;
    display: inline-flex;
    bottom: 60px;
    right: 130px;
    width: 140px;
    height: 45px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1.531px solid #FFF;
    cursor: pointer;
}
.btn_text{
    position: relative;
    left: 10px;
    bottom: 5px;
    color: #FFF;
    font-size: 14px;
    line-height: 52.195px;
    letter-spacing: 1.631px;
    font-family: "MonumentExtended";
    transition: 0.5s all;
}
.frame_icon{
    width: 438.506px;
    height: 400.081px;
    margin-top: 30px;
    margin-left: 290px;
    background: url(../icons/Frame_icon.png) no-repeat;
    background-size: contain
}
.neples{
    position: absolute;
    padding-bottom: 1000px;
    top: 250px;
    left: 20px;
}
.neple{
    width: 17.038px;
    height: 17.017px;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 100%;
    margin-top: 35px;
}
.ellip{
    width: 13.038px;
    height: 13.017px;
    border-radius: 100%;
    border: 2.002px solid rgba(255, 255, 255, 0.37);
    margin-top: 40px;
}
.line{
    position: absolute;
    border-bottom: 2px solid rgb(255, 255, 255, 0.69);
    width: 48px;
    left: 16px;
    top: 43.50px;
}
        /*ВТОРАЯ СЕКЦИЯ*/
.Top_Sell{
    margin-top: 50px;
    margin-left: 58px;
    color: #DE343D;
    font-size: 21.725px;
    font-family: "MonumentExtended";
    line-height: 40.197px;
}
.assortment{
    position: relative;
    height: 590px;
}
.assortment_btn {
  position: absolute;
  display: inline-flex;
  top: 10px;
  left: 890px;
  width: 125px;
  height: 37px;
  background-color: transparent;
  background-repeat: no-repeat;
  color: #808080;
  border: 1.256px solid #DEDEDE;
  cursor: pointer;
}
#assort_btn{
    position: absolute;
    left: 1040px;
    width: 135px;
    
}
#btn_assort{
    margin-left: -8px;
    bottom: 8px;
    color: #808080;
    font-size: 13px;
}
.filter{
    position: relative;
    top: 5.800px;
    left: -1px;
    width: 24.123px;
    height: 24.123px;
}
#btn_assort_2{
    
    margin-left: -8px;
    bottom: 8px;
    color: #808080;
    font-size: 13px;
}
.state{
    position: relative;
    top: 5.800px;
    left: -1px;
    width: 23.123px;
    height: 23.123px;
}
#assort_btn_2{
    left: 1200px;
    width: 90px;
    
}
.line_vertical {
    position: absolute;
    left: 40.50px;
    width: 1.256px;
    bottom: 0.50px;
    height: 36px;  
    background: #DEDEDE;
}
.list{
    width: 23px;
    margin-top: 6px;
    margin-left: 3px
}
.grid{
    width: 23px;
    margin-top: 5px;
    margin-left: 22px;
 }
                            /*КАРТЫ*/
 .assortment_of_sneakers{
    padding-top: 70px;
    padding-left: 38px;
 }
 
 .sneaker_carousel{
    position: relative;
    display: inline-block;
    margin-left: 500px;
    width: 270.97px;
    height: 347.85px;
 }


 .Vector_1{
    position: relative;
    bottom: 108px;
    left: 37px;
    width: 44px;
    background-size: contain;
    background: no-repeat;
 }
 .Vector_2{
    position: relative;
    bottom: 108px;
    right: 76px;
    width: 44px;
    background-size: contain;
    background: no-repeat;
 }
                    /*ПОСЛЕДНЯЯ КНОПКА*/
.last_assortment_btn {
    position: absolute;
    display: inline-flex;
    top: 398px;
    left: 570px;
    width: 115px;
    height: 39px;
    background-color: transparent;
    background-repeat: no-repeat;
    color: #808080;
    border: 1.256px solid #DEDEDE;
    cursor: pointer;
    
  }
.last_btn_text{
    position: relative;
    left: 8px;
    bottom: 8px;
    color: #808080;
    font-size: 13px;
    line-height: 52.195px;
    letter-spacing: 1.631px;
    font-family: "MonumentExtended";
}

.Advert{
    position: relative;
}

.text_bg{
    margin-top: 85px;
    margin-left: 180px;
    width: 1020.2px;
    height: 300px;
    background: url(../img/bg/text_bg.png) no-repeat;
    background-size: contain;
}

.rotate_sneaker{
    position: absolute;
    top: -99px;
    right: 65px;
    width: 246.948px;
    height: 207.63px;
   
}

.rotate_sneaker_2{
    position: absolute;
    top: -96px;
    left: 324px;
    width: 275.948px;
    height: 263.63px;
   
}

.rotate_sneaker_3{
    position: absolute;
    top: 100px;
    right: 118px;
    width: 228.386px;
    height: 135.743px;
   
}

.brands_icon{
    position: absolute;
    left: 340px;
}

.brands{
    position: relative;
    left: 340px;
    bottom: 10px;
}

.brand{
    margin-right: 55px;
}
#nike_brand{
    margin-left: 28px;
    margin-bottom: 12px;
    width: 120.682px;
    height: 42.734px; 
    
}

#adidas_brand{
    width: 120.682px;
    height: 67.734px;   
}

#newbalance_brand{
    width: 120.682px;
    height: 67.734px;   
}
#Vans_Brand{
    margin-right: 35px;
    width: 120.682px;
    height: 61.734px;   
}
.Nike_Blur_Section{
    position: relative;
    height: 10px;
}
.Nike_line{
    position: absolute;
    width: 1355px;
    height: 49.2px;
    top: 53px;
   
}
.Blur_Bg{
    position: absolute;
    width: 1355px;
    height: 595px;
    top: 100px;
    backdrop-filter: blur(10px);
   
}
.subtitle2{
    position: absolute;
    left: -60px;
    white-space: nowrap;
    top: 230px;
    color: rgba(255, 255, 255, 0.14);
    font-size: 278.50px;
    font-family: "MonumentExtended";
    letter-spacing: -19px;
    z-index: 1;
}
.Nike_logo{
    position: absolute;
    left: 500px;
    top: 372.50px;
    width: 367px;
    height: 317px;
    background: url(../icons/white_nike_logo.png) no-repeat; 
    z-index: 2;
    background-size: contain
    
}

.last_nike_section{
    position: relative;
    top: 680px;
    height: 1250px;

}

.Top_Sell_2{
    margin-top: 50px;
    margin-left: 208px;
    color: #DE343D;
    font-size: 21.725px;
    font-family: "MonumentExtended";
    line-height: 40.197px;
}
.assortment_btn_2{
    position: absolute;
    display: inline-flex;
    top: 10px;
    left: 770px;
    width: 125px;
    height: 37px;
    background-color: transparent;
    background-repeat: no-repeat;
    color: #808080;
    border: 1.256px solid #DEDEDE;
    cursor: pointer;
}
#assort_btn_3{
    position: absolute;
    left: 922px;
    width: 135px;
    
}
#assort_btn_4{
    left: 1084px;
    width: 90px;
    
}
.sneakers_assortment{
    position: absolute;
    top: 112px;
    left: 200px;
}
.sneakers_assortment_2{
    position: absolute;
    top: 542px;
    left: 200px;
}

.sneaker{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 289.97px;
    height: 257.85px;
    background: #F9F9F9;
 }

.sneaker_i{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 250px;
 }
 #icon_2{
    top: 39px;
 }
 #icon_3{
    top: 37px;
 }
 #icon_4{
    top: 58px;
 }
.information{
    position: relative;
    right: 38px;
}
 .Nike_txt{
    position: absolute;
    color: #9C9C9C;
    bottom: -45px;
    left: 59px;
    font-weight: 400;
    line-height: 140%;
    font-size: 17.006px;
    font-family: "MonumentExtended";
 }
 .Name{
    position: absolute;
    bottom: -68px;
    left: 58px;
    color: #040404;
    font-size: 17.15px;
    font-family: "MonumentExtended";
    font-style: normal;
    font-weight: 400;
    
 }
 .price{
    position: absolute;
    bottom: -87px;
    left: 58px;
    color: #040404;
    font-size: 13.434px;
    font-family: "MonumentExtended";
    font-weight: 400;
 }
 .size{
    position: absolute;
    left: 58px;
    bottom: -109px;
    color: #DE343D;
    font-size: 12.862px;
    font-family: "MonumentExtended";
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1.572px;    
 }
 .information_2{
    position: relative;
    left: 275px;
 }
 .information_3{
    position: relative;
    left: 590px;
 }
 .information_4{
    position: relative;
    left: 903px;
 }

.all_sneakers{
    background: url(../img/gradient.png);
    width: 1539px;
    height: 849px;
}
.gradient{
    position: relative;
    width: 1200px;
    height: 870px;
    z-index: 10;
    z-index: 3;
}


.last_assortment_btn_2 {
    position: absolute;
    display: inline-flex;
    top: 925px;
    left: 630px;
    width: 115px;
    height: 41px;
    background-color: transparent;
    background-repeat: no-repeat;
    color: #040404;
    border: 1.256px solid #040404;
    cursor: pointer;
    
  }
.last_btn_text_2{
    position: relative;
    left: 8px;
    bottom: 7px;
    color: #000000;
    font-size: 13px;
    line-height: 52.195px;
    letter-spacing: 1.631px;
    font-family: "MonumentExtended";
}
#info_3{
    bottom: 2.50px;
}

.footer{
    position: relative;
    height: 300px;
    top: 680px;
    background: #F9F9F9;
    z-index: -1;
}


.col{
    position: absolute;
    color: #DE343D;
    font-family: "MonumentExtended";
    font-size: 12.50px;
    bottom: 30px;
    right: 250px;
    text-decoration: none;
    z-index: 20;
}


.col2{
    position: absolute;
    font-family: "MonumentExtended";
    color: #DE343D;
    font-size: 12.50px;
    bottom: 30px;
    right: 165px;
    text-decoration: none;
    z-index: 20;
}

.col3{
    position: absolute;
    color: #DE343D;
    font-family: "MonumentExtended";
    font-size: 12.50px;
    bottom: 30px;
    right: -50px;
    white-space: nowrap;
    text-decoration: none;
    z-index: 20;
}


.bold_txt{
    position: relative;
    bottom: 30px;
    font-family: "Monument-Extended";
}


